.hero-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15rem;
    margin-right: 15rem;
    z-index: 900;
    position: relative;
    bottom: 2rem;
}

.hero-info-container .hero-info {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
    width: 28rem;
    height: 8rem;
    border: 1px solid #00000027;
    box-shadow:  0 4px 30px rgba(0, 0, 0, 0.1);
    
}

.hero-info-container .hero-info .circule-info {
    background-color: #8489FF;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
}

.hero-info-container .hero-info .circule-info img {
    width: 40px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

.hero-info-container .hero-info .text-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.hero-info-container .hero-info .text-info h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}

.hero-info-container .hero-info .text-info p {
    font-size: 0.8rem;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .hero-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        margin-bottom: 0rem;
        gap: 2rem;
        position: relative;
        bottom: 6rem;
    }
}

@media screen and (max-width: 1114px) {
    .hero-info-container {
        flex-flow: wrap;
        justify-content: center;
    }

    .hero-info-container .hero-info {
        width: 24rem;
        height: 8rem;
    }
}

@media screen and (max-width: 884px) {
    .hero-info-container .hero-info {
        width: 24rem;
        height: 8rem;
    }
}

@media screen and (max-width: 800px) {
    .hero-info-container {
        flex-flow: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 428px) {
    .hero-info-container {  
        flex-flow: wrap;
        justify-content: center;
    }
}